.html_window
{
    height:100%;
}

.Body_style
{
    background-color:#284F88;
    min-height:100%;
}

.Darkblue
{
    background-color:#063970; 
    color:white;
}

.Lightblue
{
    background-color:#154c79;
}


.Menueband
{          
background-color:#063970;
list-style-type:none;
padding-left: 0px;
overflow:hidden;
    }
			
    .Menueband li
    {
    float:left;  
    padding:0px;
    }
        
	.Menueband li a
        {
        display:block;
        text-align:center;
        text-decoration:underline;
        font-size:28px;
        font-style:oblique;
        color:white;
        padding:56px;
        
        }
			
        .Menueband li a:hover
        {
        background-color:#154c79;
        }
        
        .Menueband li a:visited
        {
        color:white;
        }
            
    .Menueband .Red
    {
    background-color:darkred;
    float:right;

    }
    
        ul.Menueband li.Red a.Welcome
        {
        display:block;
        padding-top: 50px;
        padding-bottom:50px;
        padding-right:100px;
        padding-left:100px;
        font-size:38px;
        font-style:oblique;
        text-align:center;
        color:white;  
        }
        
        ul.Menueband li.Red a.Welcome:hover
        {
        background-color:red;
        } 

    .Inhaltsverzeichniss_main
    {   
        min-height:100%;
    }
    
        .Inhaltsverzeichniss_nav
        { 
            display:block;
            float:left;
            margin-right:100px;
        }

            .Headline_nav
            {
                font-style:oblique;
                font-size:40px;
                color:white;
            }

                #Inhaltsverzeichniss_ol
                {
                    background-color:darkred; 
                }

                        #Inhaltsverzeichniss_ol li
                        {
                            color:white;
                            font-size:24px;
                        }

                            #Inhaltsverzeichniss_ol li:nth-child(odd){background-color:#063970}
                            #Inhaltsverzeichniss_ol li:nth-child(even){background-color:#154c79;}

                            #Inhaltsverzeichniss_ol li .Inhalt_a{text-decoration:none; color:lightskyblue;}
                            #Inhaltsverzeichniss_ol li .Inhalt_a:visited{text-decoration:none; color:darkblue;}
            

        .Content_iframe
        {
           min-height: 100%; 
        }
        
            #Headline_iframe
                {
                    font-weight:bold;
                    font-style:oblique;
                    font-size:30px;
                    color:white;
                } 
                
            #Iframe
                {
                    min-height: 100%;
                }




.Theme_darkblue 
{
    display:inline-block;
    background-color:#063970;
    color:white;
    border:2px solid lightslategray;
    padding:10px;
    overflow:hidden;
    float:left;  
    margin:25px;
}
    .Theme_darkblue legend
    {
        border:2px solid lightslategray;
        text-decoration: underline;
        font-style: oblique ;
        font-weight: bold;
        font-size:24px;
            
    }
    
    .Theme_darkblue fieldset
    {
        display:inline-block;
        float:left;
        border:2px solid lightslategray;
        margin-bottom:20px;
        margin-right:40px;
    }
    .Theme_darkblue label
    {
        vertical-align: top;
        
    }
    
    .Theme_darkblue input[type=checkbox]
    {
        width: 20px;
        height: 20px;
    }
    
    .Theme_darkblue input[type="text"] 
    {
        display:inline-block;
        background-color:#154c79;
        border:1px solid darkgrey;
        color:white;
        
    }
    
    .Theme_darkblue input[type="email"] 
    {
        background-color:#154c79;
        border:1px solid darkgrey;
        color:white;
    }
    
    .Theme_darkblue input[type="password"] 
    {
        background-color:#154c79;
        border:1px solid darkgrey;
        color:white;
    }    
    
    .Theme_darkblue input [value="Password"]
    {
    font-style:oblique;
    }
    
    .Theme_darkblue input [value="Username"]
    {
    font-style:oblique;
    }
    
    .Theme_darkblue input[type=radio]
    {
        display:inline-block;
        width:auto;
    }
    
    .Theme_darkblue select
    {
       
        background-color:#154c79;
        color:white;
   
    }
                       
                        

		
	
	
	 
